<?xml version="1.0"?>
<settings>
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
      <password>${client.id}~?~${client.secret}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>mulesoft</id>
      <repositories>
        <repository>
          <id>mulesoft-releases</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/releases/</url>
        </repository>
        <repository>
          <id>mulesoft-snapshots</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mulesoft-releases</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/releases/</url>
        </pluginRepository>
      </pluginRepositories>				 
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>mulesoft</activeProfile>
  </activeProfiles>
</settings>
